<nav class="navbar" style="background-color: #1d4a64;" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="#">
      <img src="">
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="true" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item white" href="/">
        Inicio
      </a>

      {{#if user}}
      <a class="navbar-item white" href="/posts">
        Lista de Posts
      </a>
      {{/if}}
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          {{#if user}}
          <a class="button is-danger is-outlined" href="../auth/logout">
            Salir
          </a>
          {{else}}
          <a class="button is-primary" href="../auth/signup">
            <strong>Registrarse</strong>
          </a>
          <a class="button is-success is-outlined" href="../auth/signin">
            Ingresar
          </a>
          {{/if}}
        </div>
      </div>
    </div>
  </div>
</nav>