<div class="control" style="margin: 1rem auto;">
    <h2 class="title white">Creando Post</h2>

    <form action="/posts" method="POST">

        <div class="field">
            <label for="title" class="label white">Título</label>
            <input type="text" class="input" id="title" name="title" placeholder="Ingrese el titulo del post">
        </div>

        <div class="field">
            <label for="body" class="label white">Cuerpo</label>
            <textarea type="text" class="input" id="body" name="body" placeholder="Escribe aquí"></textarea>
        </div>

        <button class="button is-info">Enviar</button>
    </form>
</div>