<div style="padding: 1rem; margin: 1rem auto;">
    <h2 class="title white">Post</h2>

    <div class="card" style="padding: 1rem; margin: 1rem auto;">
        <div class="media-content">
            <p class="title is-4 white">{{post.title}}</p>
            <p class="subtitle is-6 white">@{{post.name}}</p>
            <p class="content">{{post.body}}</p>
        </div>
    </div>
</div>